<div class="container center-form">
    <h1>Recommended Maintenance</h1>
    <h2>This is a list of general reccomended maintenance</h2>
    <h2>Your vehicle may differ, please check your owner's manual</h2>
    
    <ul>
        <li>Oil Change - Every 3,000 miles</li>
        <li>Cabin Air Filter - Every 15,000 miles</li>
        <li>Engine Air Filter - Every 10,000 miles</li>
        <li>Radiator Flush - Every 30,000 miles</li>
        <li>Transmission Fluid Flush - Every 20,000 miles</li>
        <li>Power Steering Fluid Flush - Every 30,000 miles</li>
        <li>Fuel Injection Cleaning - Every 15,000 miles</li>
        <li>Serpentine Belt - Every 40,000 miles</li>
        <li>Battery - Every 3 to 5 years</li>
        <li>Spark Plugs - Every 70,000 miles</li>
    </ul>
</div>